$sm: 600px;
$ml: 992px;

:root {
    @media only screen and (max-width: $sm) {
        .large, .medium {
            display: none;
        }
    }
    @media only screen and (min-width: $sm) and (max-width: $ml) {
        .small, .large {
            display: none;
        }
    }
    @media only screen and (min-width: $ml) {
        .small, .medium {
            display: none;
        }
    }

    @media only screen and (max-width: $sm) {
    }
    @media only screen and (min-width: $sm) and (max-width: $ml) {
    }
    @media only screen and (min-width: $ml) {
    }
}
