%dark {
    --background-color: #18181a;
    --header-background-color: #242426;
    --nav-background-color: var(--header-background-color);
    --main-background-color: var(--background-color);
    --footer-background-color: var(--header-background-color);

    --text-color: #f5f5f7;
    --link-color: #5dbfa1;
    --code-color: #5dbfa1;

    --glow-color: darkgreen;

    .light { display: none }
}

%light {
    --background-color: #fffffe;
    --header-background-color: #eff6f7;
    --nav-background-color: var(--header-background-color);
    --main-background-color: var(--background-color);
    --footer-background-color: var(--header-background-color);

    --text-color: #3a4a50;
    --link-color: #367b7d;
    --code-color: #367b7d;

    --glow-color: #88bcbd;

    .dark { display: none }
}

:root[data-theme="dark"] {
    @extend %dark;
}

:root[data-theme="light"] {
    @extend %light;
}

%glow { text-shadow: 0 0 10px var(--glow-color); }
%power-glow { text-shadow: 0 0 10px var(--glow-color), 0 0 10px var(--glow-color); }

:root {
    background-color: var(--background-color);
    header { background-color: var(--header-background-color); }
    @media only screen and (min-width: $sm) {
        nav { background-color: var(--nav-background-color); }
    }
    main { background-color: var(--main-background-color); }

    footer { background-color: var(--footer-background-color); }

    color: var(--text-color);
    a {
        color: var(--link-color);
        text-decoration: none;
        &:hover { @extend %glow; }
    }

    p > code {
        color: var(--link-color);
        text-decoration: none;
        @extend %glow;
    }

    header {
        @extend %glow;
        a:hover { @extend %power-glow; }
    }

    nav li.current {
        @extend %power-glow;
    }

    font-family: Verdana, sans-serif;
    // h1, h2, h3, h4, h5, h6, nav *, footer * { font-family: Helvetica, sans-serif; }
    header *, code * { font-family: 'Courier New', monospace; }
}
