@import "responsive";
@import "code";
@import "theme";

html {
    * { max-width: 100%; }

    height: 100%;

    body {
        margin: 0;
        height: 100%;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: min-content min-content 1fr min-content;

        header {
            grid-row: 1;
            min-height: 10vh;

            @media only screen and (max-width: $sm) {
                grid-column: 1 / -1;

                position: sticky;
                top: 0;
                z-index: 1;
            }
            @media only screen and (min-width: $sm) and (max-width: $ml) {
                display: none;
            }
            @media only screen and (min-width: $ml) {
                grid-column: 1 / -1;
            }
            font-size: xx-small;
            font-weight: bolder;

            background-size: cover;

            a { text-decoration: none; }

            display: grid;
            justify-items: center;
            align-items: center;

            @media only screen and (max-width: $sm) {
                grid-template-columns: repeat(12, 1fr);
                a {
                    grid-column: 1 / -4;
                }
            }
        }

        nav {
            #feed {
                a {
                    display: flex;
                    align-item: center;

                    svg {
                        height: 1em;
                        width: 1em;
                    }
                }
            }

            @media only screen and (max-width: $sm) {
                grid-row: 1;
                grid-column: -4 / -1;

                display: flex;
                justify-content: center;
                align-items: center;

                position: sticky;
                top: 0;
                z-index: 1;
            }
            @media only screen and (min-width: $sm) and (max-width: $ml) {
                grid-row: 1;
                grid-column: 1 / -1;

                display: grid;
                grid-template-columns: 1fr 10fr 1fr;
            }
            @media only screen and (min-width: $ml) {
                grid-row: 2;
                grid-column: 1 / -1;

                display: grid;
                grid-template-columns: 3fr 6fr 3fr;
            }

            input#menu { display: none; }
            input#menu:checked ~ ul {
                display: flex;
            }

            label[for="menu"] {
                @media only screen and (max-width: $sm) {
                    text-align: center;
                    cursor: pointer;
                    z-index: 5;
                }
                @media only screen and (min-width: $sm) {
                    display: none;
                }
            }

            #toggle_theme { cursor: pointer; }

            font-size: x-large;
            ul {
                @media only screen and (max-width: $sm) {
                    display: none;

                    flex-direction: column;
                    justify-content: center;
                    z-index: 1;

                    padding: 0;
                    margin: 0;
                    background: var(--nav-background-color);

                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }

                grid-column: 2;

                padding: 0;
                list-style-type: none;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            }
        }

        main {
            @media only screen and (max-width: $sm) {
                grid-column: 2 / -2;
                grid-row: 2;
            }
            @media only screen and (min-width: $sm) and (max-width: $ml) {
                grid-column: 2 / -2;
                grid-row: 2;
            }
            @media only screen and (min-width: $ml) {
                grid-column: 4 / -4;
                grid-row: 3;
            }

            img.thumbnail {
                @media only screen and (orientation: landscape) {
                    width: 7vw;
                }
                @media only screen and (orientation: portrait) {
                    width: 7vh;
                }
                margin: 1vw;

                float: right;
                border-radius: 10px;
            }

            ul.pages, ul.subsections {
                padding: 0;
                list-style-type: none;

                a.preview.readmore {
                    display: block;
                    text-align: center;
                }

                li.page, li.subsection {
                    &:nth-child(odd)  { img.thumbnail { float: left;  } }
                }
            }

            ul.taxonomy.kinds {
                padding: 0;

                li.taxonomy.kind {
                    display: flex;

                    ul.taxonomy.names {
                        padding: 0;

                        li.taxonomy.name {
                            display: inline;
                        }
                    }
                }
            }

            div.footnote-definition { p { display: inline-block; } }

            section.paginator {
                --paginator-margin: 4vh;
                margin-top: var(--paginator-margin);
                margin-bottom: var(--paginator-margin);

                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-items: center;
                align-items: center;

                font-size: large;
                font-weight: bold;

                .first { grid-column: 1; }
                .previous { grid-column: 2; }
                .numbers {
                    grid-column: 3;
                    font-size: unset;
                    font-weight: normal;
                }
                .next { grid-column: 4; }
                .last { grid-column: 5; }
            }

        }

        aside {
            &#left, &#right {
                @media only screen and (max-width: $sm) {
                    display: none;
                }
                @media only screen and (min-width: $sm) and (max-width: $ml) {
                    display: none;
                }
                @media only screen and (min-width: $ml) {
                    grid-row: 3;
                }

                display: flex;
                justify-content: center;

                section {
                    align-self: start;
                    position: sticky;
                    top: 0;
                }
            }

            &#left {
                @media only screen and (min-width: $ml) {
                    grid-column: 1 / 3;
                }
            }
            &#right {
                @media only screen and (min-width: $ml) {
                    grid-column: -4 / -1;
                }
            }
        }

        footer {
            grid-row: -1;
            grid-column: 1 / -1;

            display: grid;
            grid-template-columns: repeat(12, 1fr);

            ul {
                @media only screen and (max-width: $sm) {
                    grid-column: 2 / -2;
                }
                @media only screen and (min-width: $sm) and (max-width: $ml) {
                    grid-column: 2 / -2;
                }
                @media only screen and (min-width: $ml) {
                    grid-column: 2 / -2;
                }

                padding: 0;
                list-style-type: none;

                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
            }
            font-weight: bold;
        }
    }
}
