@import "responsive";
@import "code";
@import "theme";

html {
    * { max-width: 100%; }

    body {
        margin: 0;
        height: 100%;

        header, nav, footer, aside#left, aside#right, img.thumbnail {
            display: none;
        }

        main {
            ul.pages, ul.subsections {
                list-style-type: none;

                a.preview.readmore {
                    display: block;
                    text-align: center;
                }

                li.page, li.subsection {
                    &:nth-child(odd)  { img.thumbnail { float: left;  } }
                    // &:nth-child(even) { img.thumbnail { float: right; } }
                }
            }

            ul.taxonomy.kinds {
                padding: 0;

                li.taxonomy.kind {
                    display: flex;

                    ul.taxonomy.names {
                        padding: 0;

                        li.taxonomy.name {
                            display: inline;
                        }
                    }
                }
            }

            div.footnote-definition { p { display: inline-block; } }
        }

    }
}
