{% macro openGraph() %}
<meta property="og:type" content="website" />

{%- if page -%}
<meta property="og:title" content="{{ config.title | title | safe }} {{ config.extra.separator | default(value='|') | safe }} {{ page.title | title | safe }}">
{%- elif section -%}
<meta property="og:title" content="{{ config.title | title | safe }} {{ config.extra.separator | default(value='|') | safe }} {{ section.title | title | safe }}">
{%- else -%}
<meta property="og:title" content="{{ config.title | title | safe }}">
{%- endif -%}

{%- if page -%}
<meta property="og:description" content="{{ page.description | capitalize | safe }}">
{%- elif section -%}
<meta property="og:description" content="{{ section.description | capitalize | safe }}">
{%- else -%}
<meta property="og:description" content="{{ config.description | capitalize | safe }}">
{%- endif -%}

{%- if page -%}
<meta property="og:url" content="{{ page.permalink | safe }}">
{%- elif section -%}
<meta property="og:url" content="{{ section.permalink | safe }}">
{%- else -%}
<meta property="og:url" content="{{ config.base_url | safe }}">
{%- endif -%}

{#
    The [OpenGraph Protocol](https://ogp.me/) only supports rasterized image format to be
    used ad a `og:image` content.

    If a page or section actually has a scalable image format as its thumbnail, this will
    fallback to the global thumbnail in order to have a valid OG integration.

    As a consequence, the `config.extra.thumbnail` MUST reference a rasterized file format.
#}
{%- if page and page.extra.thumbnail -%}
    {% set thumbnail_url = get_url(path=page.extra.thumbnail | first | get(key='src')) %}
{%- elif section and section.extra.thumbnail -%}
    {% set thumbnail_url = get_url(path=section.extra.thumbnail | first | get(key='src')) %}
{%- endif -%}
{%- if thumbnail_url is undefined or thumbnail_url is ending_with(".svg") -%}
    {% set thumbnail_url = get_url(path=config.extra.thumbnail | first | get(key='src')) %}
{%- endif -%}
<meta property="og:image" content="{{ thumbnail_url | safe }}">
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
{% endmacro openGraph %}
