{%- macro pages(pages, heading, cardinal=0) -%}
<ul class="pages">
    {%- for page in pages -%}
    <li class="page">
        {{- preview::preview(context=page, heading=heading, thumbnail=true) -}}
    </li>
    {%- if cardinal and cardinal == loop.index -%}{%- break -%}{%- endif -%}
    {%- endfor -%}
</ul>
{%- endmacro pages -%}
