{%- macro paginator(paginator) -%}

{{ pages::pages(pages=paginator.pages, heading=2) }}

<section class="paginator">
    {%- if paginator.previous and paginator.first -%}

    {%- if paginator.previous != paginator.first%}
    <a href={{ paginator.first | safe }} class="first">{{ trans(key="__FIRST__", lang=lang) }}</a>
    {%- endif -%}

    <a href={{ paginator.previous | safe }} class="previous">{{ trans(key="__PREVIOUS__", lang=lang) }}</a>

    {%- endif -%}

    {%- set paginated_pages = paginator.total_pages / paginator.paginate_by | round(method="ceil") -%}
    {%- if paginated_pages > 1 -%}
    <span class="numbers">
        {{ paginator.current_index }}/{{ paginated_pages }}
    </span>
    {%- endif -%}

    {%- if paginator.next and paginator.last -%}

    <a href="{{ paginator.next | safe }}" class="next">{{ trans(key="__NEXT__", lang=lang) }}</a>

    {%- if paginator.next != paginator.last -%}
    <a href="{{ paginator.last | safe }}" class="last">{{ trans(key="__LAST__", lang=lang) }}</a>
    {%- endif -%}

    {%- endif -%}
</section>
{%- endmacro paginator -%}
