{%- macro preview(context, heading, thumbnail=false) -%}
<a href="{{- context.permalink | safe -}}" class="preview title">
    <h{{- heading -}}>{{- context.title | title -}}</h{{- heading -}}>
</a>

{%- if thumbnail -%}
{{- thumbnail::thumbnails(context=context) -}}
{%- endif -%}

{%- if context.date -%}
<div class="preview publication_date">
    {{ trans(key="__PUBLISHED_ON__", lang=lang) }}
    {% if config.extra[lang].date_format -%}
    {{ context.date | date(format=config.extra[lang].date_format) }}
    {% else %}
    {{ context.date }}
    {% endif %}
</div>
{%- endif -%}

{{- taxonomies::taxonomies(context=context) -}}

{%- if context.summary -%}
<div class="preview summary">
    {{- context.summary | safe -}}
</div>
{%- elif context.content -%}
<div class="preview content">
    {{- context.content | safe -}}
</div>
{%- endif -%}

<a href="{{- context.permalink | safe -}}" class="preview readmore" title="{{- trans(key='__READ_MORE__', lang=lang) -}}">
    {{- trans(key="__READ_MORE__", lang=lang) }}
    {% if context.reading_time -%}
    ~ {{ context.reading_time }} minute{{- context.reading_time | pluralize(plural="s") -}}
    {%- endif -%}
</a>

{%- endmacro preview -%}
