{%- macro subsections(subsections) -%}
<ul class="subsections">
    {%- for subsection in subsections -%}
    <li class="subsection">
        {%- set subsection = get_section(path=subsection) -%}
        {{ preview::preview(context=subsection, heading=2) }}
    </li>
    {%- endfor -%}
</ul>
{%- endmacro subsections -%}
