{%- macro taxonomies(context) -%}

{%- set taxonomies = context.taxonomies | default(value=[]) -%}

{%- if taxonomies -%}
<ul class="taxonomy kinds">

    {%- set_global kinds = [] -%}
    {%- for kind, _ in taxonomies -%}
    {%- set_global kinds = kinds | concat(with=kind) -%}
    {%- endfor -%}

    {%- for kind in kinds | sort -%}
    {%- set taxonomy = get_taxonomy(kind=kind, lang=lang, required=false) -%}
    <li class="taxonomy kind">
        {# <a href="{{ taxonomy.permalink | safe }}">{{- taxonomy.kind.name | title | safe -}}</a>:&nbsp; #}
        {{- taxonomy.kind.name | title | safe }}:&nbsp;
        {%- set names = taxonomies[kind] -%}
        <ul class="taxonomy names">
            {%- for name in names -%}
            {%- set url = get_taxonomy_url(kind=kind, name=name, lang=lang) -%}
            <li class="taxonomy name">
                <a href="{{- url | safe -}}"> {{ name | title | safe }}</a>
                {%- if not loop.last %}, {% endif %}
            </li>
            {%- endfor -%}
        </ul>
    </li>
    {%- endfor -%}
</ul>
{%- endif -%}
{%- endmacro taxonomies -%}
