{%- macro terms(terms) -%}
<ul class="terms">
    {%- for term in terms -%}
    <li class="term">
        <a href="{{ term.permalink | safe }}">
            {{ term.name }}
        </a>
    </li>
    {%- endfor -%}
</ul>
{%- endmacro terms -%}
