{%- macro toc(toc, heading) -%}
<section class="toc">
    <h{{- heading -}}>{{- trans(key="__TOC__", lang=lang) -}}</h{{- heading -}}>
    {{- toc::levels(levels=toc, heading=heading+1) -}}
</section>
{%- endmacro toc -%}

{%- macro levels(levels, heading) -%}
<ul>
    {%- for level in levels -%}
    <li>
        <a href="{{ level.permalink | safe }}">{{ level.title | title }}</a>
        {%- if level.children | length -%}
        {{- toc::levels(levels=level.children, heading=heading+1) -}}
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul>
{%- endmacro level -%}
