{%- import "macros/description.html" as description -%}
{%- import "macros/keywords.html" as keywords -%}
{%- import "macros/openGraph.html" as openGraph -%}
{%- import "macros/pages.html" as pages -%}
{%- import "macros/paginator.html" as paginator -%}
{%- import "macros/preview.html" as preview -%}
{%- import "macros/reading_time.html" as reading_time -%}
{%- import "macros/style.html" as style -%}
{%- import "macros/subsections.html" as subsections -%}
{%- import "macros/svg.html" as svg -%}
{%- import "macros/taxonomies.html" as taxonomies -%}
{%- import "macros/terms.html" as terms -%}
{%- import "macros/thumbnail.html" as thumbnail -%}
{%- import "macros/toc.html" as toc -%}

{#
clear; zola build && find public/ -name "*.html" -exec sed -i '/^[[:space:]]*$/d' {} \; -exec echo {} \; -exec tidy -qe
{} \;
#}

<!DOCTYPE html>
<html lang="{{- lang -}}" data-theme="dark">

<head>
    {%- block head -%}
    {%- block meta -%}
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- block description -%}
    {{- description::description(context=config) -}}
    {%- endblock description -%}
    {%- endblock meta -%}

    {%- block openGraph -%}
    {{- openGraph::openGraph() -}}
    {%- endblock openGraph -%}

    <title>
        {%- block title -%}
        {{- config.title | default(value=config.extra.phoenyx_title) | title | safe -}}
        {{- config.extra.separator | default(value=" | ") | safe -}}
        {%- endblock title -%}
    </title>

    {%- block favicon -%}
    {%- if config.extra.favicon -%}
    {%- set favicon = resize_image(path=config.extra.favicon, width=32, height=32, op="scale") -%}
    <link rel="shortcut icon" type="image/png" href="{{- favicon.url | safe -}}">
    {%- endif -%}
    {%- endblock favicon -%}

    {%- block style -%}
    <link href="{{- get_url(path='/base.css') -}}" rel="stylesheet" media="screen">
    <link href="{{- get_url(path='/print.css') -}}" rel="stylesheet" media="print">
    {{- style::banners() -}}
    {%- endblock style -%}
    {%- endblock head -%}
</head>

<body>
    {%- block body -%}
    <header>
        {%- block header -%}
        {%- include "header.html" -%}
        {%- endblock header -%}
    </header>
    <nav>
        {%- block nav -%}
        {%- include "nav.html" -%}
        {%- endblock nav -%}
    </nav>

    <aside id="left">
        {%- block left -%}
        {%- include "left.html" -%}
        {%- endblock left -%}
    </aside>

    <main>
        {%- block main -%}
        {{- throw(message="Missing main tag content") -}}
        {%- endblock main -%}
    </main>

    <aside id="right">
        {%- block right -%}
        {%- include "right.html" -%}
        {%- endblock right -%}
    </aside>

    <footer>
        {%- block footer -%}
        {%- include "footer.html" -%}
        {%- endblock footer -%}
    </footer>

    {% block scripts %}
    <script src="{{ get_url(path='/theme.js') }}"></script>
    {% endblock scripts %}
    {%- endblock body -%}
</body>

</html>
