<ul>
    {%- block powered_by -%}
    <li>
        {{- trans(key="__POWERED_BY__", lang=lang) -}}
        &nbsp;
        <a href="https://getzola.org" title="Zola's website" rel="noopener nofollow noreferrer" target="_blank">Zola</a>
    </li>
    {%- endblock powered_by -%}

    {%- block themed_by -%}
    <li>
        {{- trans(key="__THEMED_BY__", lang=lang) -}}
        &nbsp;
        <a href="https://gitlab.com/draftware/phoenyx" title="Phœnyx's website" rel="noopener nofollow noreferrer"
            target="_blank">Phœnyx</a>
    </li>
    {%- endblock themed_by -%}

    {%- if config.languages | length -%}
    <li>
        <ul>
            <li>
                {%- set url = get_url(path="@/_index.md", lang=lang) -%}
                <a href="{{- url | safe -}}">
                    {{- lang | capitalize | safe -}}
                </a>
            </li>
            {%- for lang, _ in config.languages -%}
            <li>
                &nbsp;/&nbsp;
                {%- set url = get_url(path="@/_index.md", lang=lang) -%}
                <a href="{{- url | safe -}}">
                    {{- lang | capitalize | safe -}}
                </a>
            </li>
            {%- endfor -%}
        </ul>
    </li>
    {%- endif -%}
</ul>
