{% set root = get_url(path="@/_index.md", lang=lang) %}

<a href="{{ root | safe }}">
    {%- if config.extra.header -%}
    {%- for item in config.extra.header -%}
    <pre class="{{ item.class }}">
        {{- item.pre | safe -}}
    </pre>
    {%- endfor -%}
    {%- endif -%}
</a>
