{%- set taxonomies = config.taxonomies | default(value=[]) -%}

{%- if taxonomies -%}
<section class="taxonomies">
    <h3>{{- trans(key="__TAXONOMIES__", lang=lang) -}}</h3>
    <ul class="taxonomies">
        {%- for taxonomy in taxonomies -%}
        {%- set taxonomy = get_taxonomy(kind=taxonomy.name, lang=lang, required=false) -%}
        {%- set extra = config.extra.languages[lang].taxonomies | filter(attribute="name", value=taxonomy.name) | first
        -%}
        {%- if taxonomy and extra.show -%}
        <li class="kind">
            <a href="{{ taxonomy.permalink | safe }}">{{- taxonomy.name | title -}}</a>

            {%- set terms = taxonomy.items | default(value=[]) -%}
            {%- if terms -%}
            <ul class="terms">
                {%- for term in terms -%}
                <li class="term">
                    <a href="{{ term.permalink | safe }}">{{- term.name | title -}}</a>
                </li>
                {%- endfor -%}
            </ul>
            {%- endif -%}
        </li>
        {%- endif -%}
        {%- endfor -%}
    </ul>
</section>
{%- endif -%}
