{# TODO: Add lang parameter to zola's get_section and get_page #}

{%- set path = "_index" -%}
{%- if lang != config.default_language -%} {%- set path = path ~ "." ~ lang -%} {%- endif -%}
{%- set root = get_section(path=path ~ ".md") -%}

<label for="menu">{{ svg::burger(color="#5dbfa1") }}</label>
<input type="checkbox" id="menu">

{%- if root -%}
    <ul>
        {% set current = section is defined and section == root %}
        <li {% if current -%}class="current"{%- endif -%}>
            <a href="{{- root.permalink | safe -}}">
                {{- trans(key="__HOME__", lang=lang) -}}
            </a>
        </li>

        {%- for subsection in root.subsections -%}
            {%- set subsection = get_section(path=subsection, metadata_only=true) -%}

            {% set current = page is defined and page.components[0] == subsection.components[0] %}
            {% set current = current or section is defined and section != root and section.components[0] == subsection.components[0] %}
            <li {% if current -%}class="current"{%- endif -%}>
                <a href="{{- subsection.permalink | safe -}}">{{- subsection.title | title | safe -}}</a>
            </li>
        {%- endfor -%}

        {%- for subpage in root.pages -%}
            {% set current = page is defined and page.components | length == 1 %}
            <li {% if current -%}class="current"{%- endif -%}>
                <a href="{{- subpage.permalink | safe -}}">{{- subpage.title | title | safe -}}</a>
            </li>
        {%- endfor -%}

        {%- for item in config.extra.nav | default(value=[]) -%}
            <li {% if current -%}class="current"{%- endif -%}>
                <a href="{{- item.href | safe -}}" {%- if item.download -%}download="{{- item.download | safe -}}" {%- endif -%}>{{
                    item.content -}}</a>
            </li>
        {%- endfor -%}

        <ul>
        {% block theme %}
            <li id="toggle_theme">
                <span class="dark">🌞</span>
                <span class="light">🌛</span>
            </li>
        {% endblock theme %}
        {% block theme %}
            <li id="feed">
                <a href="/atom.xml">
                    {{ svg::feed() }}
                </a>
            </li>
        {% endblock theme %}
        </ul>
    </ul>
{%- endif -%}
