{% extends "base.html" %}

{%- block title -%}
    {{ super() }}
    {{- taxonomy.name | title -}}
    {{- config.extra.separator | default(value=" | ") | safe -}}
    {{- term.name | title -}}
{%- endblock title -%}

{%- block main -%}
    <h1>{{ taxonomy.name | title }}</h1>
    <h2>{{ term.name | title }}</h2>
    {{ paginator::paginator(paginator=paginator) }}
{%- endblock main -%}
